body {
  background: url("images/drum-set-1839383_1920.jpg") no-repeat top center fixed;
  background-size: cover;
  color: white;
  font-family: 'Open Sans', helvetica, arial, sans;
}

.instrument {
  font-size: 1rem;
}
.keys {
  display: flex;
  flex-direction: row;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.key {
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 2rem;
  height: 6rem;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 6rem;
}

.playing {
  border: 4px solid #f39c12;
  color: #f39c12;
  transform: scale(1.1);
}
